	h1{	font: 30pt serif;
		color:#ffffff; text-align:centre;}
	h2{	font :12pt verdana, serif; 
		color:#ffffff; text-align:centre;}	
	h3{	font: 20pt verdana, serif;
		color:#ff0000; text-align:centre;}

	hr{ background-color:#ffffff
		color: #ffffff;
		height: 200px;}
	a {color:#ff0000;}
	
	#footer{
color:white;
text-align:right;
padding:10px;
}
#content{
	Background-color:#ff1a1a;
	color:white;
	text-align:left;
	padding:10px;
	width:650px;

		